body {
  height: 100vh;
  display: grid;
}

.wrap {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-title {
  margin-bottom: 1rem;
  background-color: #F0F8FF;
  padding: 1rem 1rem 0;
}

.footer {
  margin-top: 2rem;
  padding: 1rem 1rem 1rem;
}
